body {
  background: url(./math.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div{
    margin-top: 150px;
}

h1{
    color: #a00;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    color: #a00;
    margin: 10px;
}


::placeholder{
    text-align: center;
    font-size: 20px;
}